<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChatGPT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>ChatGPT</h1>
    <div class="system-message">
        Hi there! How can I assist you today?
    </div>
    <div class="main-container">
        <div class="chat-container">
			
            {% if user_message %}
                <div class="message user-message">{{ user_message }}</div>
            {% endif %}
            {% if assistant_message %}
                <div class="message assistant-message">{{ assistant_message }}</div>
            {% endif %}
        </div>
        <form method="post" action="/" class="input-form">
            <label for="system_input">System message:</label>
            <input type="text" name="system_input" id="system_input" value="{{ system_message if system_message }}" placeholder="Type initial system message">
            <label for="model">Model:</label>
            <select name="model" id="model">
                {% for model in models %}
                <option value="{{ model }}" {% if selected_model == model %}selected{% endif %}>{{ model }}</option>
                {% endfor %}
            </select>
            <label for="user_input">Your message:</label>
            <input type="text" name="user_input" id="user_input" required>
            <button type="submit" class="btn btn-primary btn-lg">Send</button>
        </form>
    </div>
</body>
</html>
